*.ipynb_checkpoints
annotations
dual_box_frames
fish_crops_mt
fish_frames
fish_yolo_dataset
output_frames
raw_frames
zoomed_box_frames
*.csv
*.mp4
__pycache__
debug_background_subtraction
debug_contour_tracking
frames/
edge/
non_working_frames/
test/
test2/
working_frames/
fish_detections_full/
decoder_comparison/
runs/**/
test_frames/
topk1_predictions/